{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list" id="myTab">
    {%- for link in section.settings.menu.links -%}
      <li {%- for block in section.blocks -%}{% if link.title == block.settings.txt %} style="position:inherit;" {% endif %}{% endfor %}>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset {% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                 <a href="{{ link.url }}"> {{- link.title | escape -}}</a>
                </span>
                {% render 'icon-caret' %}
              </summary>

              <div {%- for block in section.blocks -%}{% if link.title == block.settings.txt %} style="min-width:inherit;" {% endif %}{% endfor %}
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
               

               {%- for block in section.blocks -%}
                  {% if link.title == block.settings.txt %}
                        <div class="custom-mega-menu" id="{{ block.settings.txt }}">
                          <div class="page-width mega-menu-wrapper">
                            <div class="mega-menu-cover">
                          <div class="left-side">
                            <h2>{{ block.settings.til }}</h2>
                            {{ block.settings.menu_text }}
                          {% if block.settings.btn_name != blank %}  <a href="{{ block.settings.btn_url }}">{{ block.settings.btn_name }} {% render 'menu-btn-icon' %}</a> {% endif %}
                          </div>
                          <div class="right-side">
                            <div class="right-cover-menu">
                            <div class="img-info">
                              {% if block.settings.img_url_1 != blank %} <a href="{{ block.settings.img_url_1 }}"> {% endif %}
                              {% if block.settings.menu_img_1 != blank %} <div class="img-border"><img src="{{ block.settings.menu_img_1 | img_url: 'master' }}" alt="{{ block.settings.menu_img_1.alt }}"></div> {% endif %}
                              <span>{{ block.settings.img_text_1 }}</span>
                              {% if block.settings.img_url_1 != blank %} </a> {% endif %}
                            </div>

                              <div class="img-info">
                                {% if block.settings.img_url_2 != blank %} <a href="{{ block.settings.img_url_2 }}"> {% endif %}
                                {% if block.settings.menu_img_2 != blank %}<div class="img-border"><img src="{{ block.settings.menu_img_2 | img_url: 'master' }}" alt="{{ block.settings.menu-img_2.alt }}"> </div> {% endif %}
                                <span>{{ block.settings.img_text_2 }}</span>
                                {% if block.settings.img_url_2 != blank %} </a> {% endif %}
                              </div>

                              
                              <div class="img-info">
                                {% if block.settings.img_url_3 != blank %} <a href="{{ block.settings.img_url_3 }}"> {% endif %}
                                {% if block.settings.menu_img_3 != blank %}<div class="img-border"><img src="{{ block.settings.menu_img_3 | img_url: 'master' }}" alt="{{ block.settings.menu-img_3.alt }}"> </div> {% endif %}
                                <span>{{ block.settings.img_text_3 }}</span>
                                {% if block.settings.img_url_3 != blank %} </a> {% endif %}
                              </div>
                              
                              <div class="img-info">
                                {% if block.settings.img_url_4 != blank %} <a href="{{ block.settings.img_url_4 }}"> {% endif %}
                                {% if block.settings.menu_img_4 != blank %}<div class="img-border"><img src="{{ block.settings.menu_img_4 | img_url: 'master' }}" alt="{{ block.settings.menu-img_4.alt }}"> </div> {% endif %}
                                <span>{{ block.settings.img_text_4 }}</span>
                                {% if block.settings.img_url_4 != blank %} </a> {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                        </div>
                  {% endif -%}
                {% endfor %}
                
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %} {%- for block in section.blocks -%}{% if link.title == block.settings.txt %}remove{% endif %}{% endfor %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>


